@media (min-width: 300px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
  }

  body {
    background: white;
  }
  /* HEADER */
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: yellow;
    position: fixed;
    width: 100%;
  }

  .mc__logo {
    width: 4.5rem;
    height: 3rem;
    border-radius: 100%;
  }

  /* MAIN */
  main {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }

  /* HERO  */

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }

  .container__hero-descrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
  }

  .hero__description {
    max-width: 12rem;
    text-align: center;
    font-size: 0.9rem;
  }

  .products__img {
    width: 240px;
    height: 300px;
  }

  /* PRODUCTS */
  .products {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .title__hamb-products {
    font-size: 1.2rem;
  }

  .img__hamburguesa {
    width: 180px;
    height: 90px;
  }

  /* CARDS */
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border: 1px solid black;
  }

  .cards h4 {
    font-size: 1rem;
  }

  .cards p {
    font-size: 0.8rem;
    font-weight: 700;
  }

  /* FOOTER */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: black;
  }

  .footer p {
    color: white;
    font-size: 0.8rem;
  }
}

/* 420PX */
@media (min-width: 420px) {
  /* HERO */
  .hero__title {
    font-size: 1.7rem;
  }

  .hero__description {
    font-size: 1.1rem;
    max-width: 300px;
  }

  .products__img {
    width: 320px;
    height: 400px;
  }

  /* PRODUCTOS */

  .products__title {
    font-size: 1.7rem;
  }

  .title__hamb-products {
    font-size: 1.4rem;
  }

  /* CARDS */

  .img__hamburguesa {
    width: 330px;
    height: 160px;
  }

  .cards h4 {
    font-size: 1.3rem;
  }

  .cards p {
    font-size: 1rem;
  }

  /* FOOTER */
  .footer p {
    font-size: 0.8rem;
  }
}
