@media (min-width: 300px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
  }

  body {
    background: white;
  }
  /* HEADER */
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: yellow;
    position: fixed;
    width: 100%;
  }

  .mc__logo {
    width: 4.5rem;
    height: 3rem;
    border-radius: 100%;
  }

  /* MAIN */
  main {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 1rem;
  }

  /* HERO  */

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  .container__hero-descrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .hero__description {
    max-width: 15rem;
    text-align: center;
    font-size: 1rem;
  }

  .products__img {
    width: 260px;
    height: 320px;
  }

  /* PRODUCTS */
  .products {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .products__title {
    font-size: 1.5rem;
  }

  .title__hamb-products {
    font-size: 1.4rem;
    padding: 1rem 0rem;
  }

  .img__hamburguesa {
    width: 280px;
    height: 140px;
  }

  /* CARDS */

  .products {
    padding: 2rem 0rem;
  }

  .cards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border: 1px solid black;
    /* padding: 0.1rem; */
    padding-bottom: 1rem;
    border: 1px solid black;
  }

  .cards h4 {
    font-size: 1.3rem;
  }

  .cards p {
    font-size: 1rem;
    font-weight: 700;
  }

  /* PIZZAS */

  .title__pizza {
    font-size: 1.4rem;
    padding: 1rem 0rem;
  }

  /* LOMOS */
  .title__lomo {
    font-size: 1.4rem;
    padding: 1rem 0rem;
  }

  /* CONTACTANOS */

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .telefono {
    font-size: 1rem;
  }

  .contact__description {
    text-align: center;
    font-size: 1rem;
    max-width: 260px;
  }

  .title__contact {
    font-size: 1.4rem;
  }

  .delivery {
    width: 100px;
  }

  /* FOOTER */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: black;
  }

  .footer p {
    color: white;
    font-size: 0.8rem;
  }
}

/* 500PX */
@media (min-width: 500px) {
  /* HERO */
  .hero__title {
    font-size: 3rem;
  }

  .hero__description {
    font-size: 1.8rem;
    max-width: 430px;
  }

  .products__img {
    width: 450px;
    height: 600px;
  }

  /* PRODUCTOS */

  .products__title {
    font-size: 2.5rem;
  }

  .title__hamb-products {
    font-size: 2rem;
  }

  /* CARDS */

  .cards {
    width: 430px;
    height: 300px;
    /* padding: 1rem; */
    padding-bottom: 2rem;
    gap: 0.9rem;
  }

  .img__hamburguesa {
    width: 428px;
    height: 193px;
  }

  .cards h4 {
    font-size: 1.3rem;
  }

  .cards p {
    font-size: 1rem;
  }

  /* PIZZAS */
  .title__pizza {
    font-size: 2rem;
  }

  /* LOMOS */
  .title__lomo {
    font-size: 2rem;
  }

  /* CONTACTANOS */

  .contact {
    gap: 2rem;
  }

  .title__contact {
    font-size: 2rem;
    padding: 1rem 0rem;
  }

  .telefono {
    font-size: 1.6rem;
  }

  .contact__description {
    font-size: 1.6rem;
    max-width: 400px;
  }

  .delivery {
    width: 370px;
  }

  /* FOOTER */
  .footer p {
    font-size: 0.8rem;
  }
}
